<form name="testeForm" action="http://localhost:8080/sessao/login" method="post">
	Nome: <input type="text" name="nome"><br>
	CPF: <input type="text" name="cpf"><br>
	Senha: <input type="text" name="senha"><br>
	<input style="height: 200px; width: 200px; background-color: purple" type="submit" name="testeInput" value="Login">
</form>	

<form name="testeForm" action="http://localhost:8080/consultas/agendar" method="post">
	procedimento: <input type="text" name="procedimento"><br>
	<input style="height: 200px; width: 200px; background-color: purple" type="submit" name="testeInput" value="Agendadas">
</form>	

<form name="testeForm" action="http://localhost:8080/sessao/logout" method="post">
	<input style="height: 200px; width: 200px; background-color: purple" type="submit" name="testeInput" value="Logout">
</form>	

<form name="testeForm" action="http://localhost:8080/sessao/teste" method="post">
	<input style="height: 200px; width: 200px; background-color: purple" type="submit" name="testeInput" value="Teste">
</form>	